<!DOCTYPE html>
<html>
  <head>
    <title>Marketplace</title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>
    <link href="https://fonts.googleapis.com/css?family=Josefin+Sans:300,400,400i|Nunito:300,300i" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css?family=Titillium+Web:200,300,300i,400,400i,600,700" rel="stylesheet">


    <%= stylesheet_link_tag "application", "data-turbo-track": "reload" %>

    <%= javascript_importmap_tags %>

  </head>

  <body>
    <% if (current_user.is_a?(GuestUser)) %>
      <%= render 'shared/navigation/navbar_guest' unless @disable_nav %>
    <% else %>
      <%= render 'shared/navigation/navbar_user' unless @disable_nav %>
    <% end %>


    <main>

       <!-- Devise notifications -->
       <p class="notice"><%= notice %></p>
       <p class="alert"><%= alert %></p>
      <%= yield %>
    </main>
  </body>
</html>
